.app {
  text-align: center;
  background: #f3ddd8;
}
.container {
  background: rosybrown;
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
}
input[type="text"],
select {
  width: 49%;
  padding: 23px 17px;
  margin: 16px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 90px;
  box-sizing: border-box;
  font-size: 18px;
  color: #60c0ba;
  background: #081d23;
}
button {
  width: max-content;

  background-color: rgb(100, 156, 196);
  color: rgb(48, 236, 226);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.header {
  background: #532d54;
  border: 1px solid grey;
  border-radius: 15px;
  font-size: 38px;
  padding: 2px 20px;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.list-heading {
  color: #fff;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  background-color: #3c4c4d;
  width: 28%;
  /* margin: auto; */
  margin-bottom: 1px;
  margin-bottom: 0px;
  border: solid grey 1px;
  border-radius: 21px;
}
.listData {
  color: #f8f9fa;
  font-size: 23px;
  /* background-color:  */
  background-color: #5c4545;
  text-align: left;
  padding-left: 28px;
  width: 63%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-radius: 20px;
}
.btn-position {
  position: relative;
  left: 25%;
  top: -68px;
  margin-bottom: -5%;
}
.action-icons {
  height: 68px;
  color: #166942;
  background: #cb99c0;
  border: solid white 5px;
  border-radius: 75px;
  margin-left: 15px;
  margin-bottom: 7px;
  margin-left: 38px;
  margin-right: 97px;
}

.action-icons :hover {
  background-color: rgb(85, 40, 211);
}
#btn {
  font-size: 13px;
  color: white;
  background: #8d657e;
  border: solid white 3px;
  border-radius: 21px;
  position: relative;
}
